body {
	color: #666666;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 1.7;
}


h1, h2, h3, h4, h5, h6 {
	color: #111;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	font-size: 18px;
	color: #111;
	font-family: "Poppins", sans-serif;
	text-align: center;
	margin: 30px 0;
	padding: 20px 60px;
	border: 1px solid;
	font-weight: 500;
}


blockquote:first-child {
	margin-top: 0;
}

blockquote p {
	margin: 0;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 13px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 14px;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

a {
	-webkit-transition: 0.3s;
	transition: 0.3s;
	color: #111;
}

a:visited {
	color: #111;
}

a:hover, a:focus, a:active {
	color: #e53935;
	text-decoration: none;
}

a:focus {
	outline: 0;
}

a:hover, a:active {
	outline: 0;
}

table,
table.mce-item-table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

td,
th,
.mce-item-table td,
.mce-item-table th {
	border: 1px solid #dedede;
	padding: 1em 1.5em;
}

th,
.mce-item-table th {
	color: #111;
	text-align: left;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}